*.log
*.tmp
*.swp
.DS_Store

# 编译产物
pg-partdist-src/*.so
pg-install/lib/postgresql/pg_partdist.so

# 本地 IDE / Claude 配置
.claude/settings.local.json

# pg_regress 测试产物
pg-partdist-src/results/
pg-partdist-src/regression.diffs
pg-partdist-src/regression.out

# pg_raft 编译产物
pg-install/lib/postgresql/pg_raft.so
